*{
    box-sizing:border-box;
}

body{

    font-size:62.5%;
    margin:0;
}

:root{

    --blue: #11d6e1;
    --yellow: #fcf3cf;
    --pink:  #ee68ea;
}

header{
    background: var(--blue);
}

main{
    background:var(--yellow);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Garamond,sans-serif;
    font-size:2rem;
    text-align:center;
}

.products{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    background: pink;
    flex-direction: column;
}

.card{
width: 300px;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
}

figure{
    width:100%;
    display:flex;
    flex-direction:column;
    border: solid white 4px;
    border-radius: 20px;
}

img{
    object-fit: cover;
    border-radius:20px 20px 0px 0px;
   
}

figcaption{
    background: white;
    display:flex;
    border-radius: 0px 0px 20px 20px;

}

.name{
    font-size:1.5rem;
    font-weight:bold;
    font-family: Garamond;
}

footer{
    background:var(--blue)
}